<div id="page_wrapper">
		<div id="content">
		<h1>Built in Swift!</h1>
		<p>This project was a way for me to try out coding in Swift using Xcode. Also, I learned how to create a game app involving similar physics and logic. I used SpriteKit to develop this game. SpriteKit is a set of APIs provided by the iOS SDK which allows native 2D game development from within Xcode. I have always been fond of gaming and this was a way to get my feet wet, especially with these frameworks. Unfortunately, the creator has removed Flappy Bird from the app store. So here is my clone, Hoppy Bird!</p>
	</div>

	<div id="flappybird-clone-swift">
		<%= image_tag "flappybird-clone-swift.png" %>
	</div>

	<p>Here is another Swift application of the popular game, Tetris. I will be applying the GameScene for displaying the background, screen, gameboard, sounds, and keeping track of time. The GameViewController will be responsible for handling user input and comunicating between GameScene and game logic. Again I will use SpriteKit in Xcode. </p>

	<div id="Tetris-clone">
		<%= image_tag "Tetris-clone.png" %>
	</div>

</div>

<div id="page_wrapper">
		<div id="content">
		<h1>Built in Python!</h1>
		<p> After learning the basics with programming in class, I decided to play around with Python. I wanted to put a simple, yet elegant guessing game on my terminal. Using import statements, modules, comparison operators, while statements, booleans, if statements, and the str(), int(), float(), and random.randint() functions, I was able to create my own Guessing Game. Personally, I believe this project was a great start for building my foundation with Python. 
	</div>

	<div id="Guessing_game">
		<%= image_tag "Guessing_game.png" %>
	</div>

	<p>One of my favorite games of all time is the snake game. Playing the game on a brick phone as a child, I wanted to create my own rendition of the game on my terminal. Here it is: </p>

	<div id="Snake">
		<%= image_tag "Snake.png" %>
	</div>

	<p>After experimenting with various projects using Python, I wanted to expand my knowledge by reverting back to the 1970s. I wanted to create a game similar to pong, not because I loved the game, but to open a doorway to be able to program a lot of other games. This application uses Pygame, a set of modules which are designed to help write games. </p>

	<div id="pong">
		<%= image_tag "Pong.png" %>
	</div>

</div>

<div id="page_wrapper">
		<div id="content">
		<h1>Built in C++!</h1>
		<p>Believe it or not, the first language I learned was C and C++ from class. However, I am still learning how to integrate and use C effectively and efficiently. So far, I only one simple project, but I am still learning and adapting for further development. Here is my terminal game, Blackjack.</p>
	</div>

	<div id="blackjack">
		<%= image_tag "Blackjack.png" %>
	</div>

</div>

<div id="page_wrapper">
		<div id="content">
		<h1>Also built in Rails!</h1>
		<p>This website was built for my family's personal home care businesss. The project was also built in rails using amazon web services, paperclip, carrierwave, and deployed onto Heroku. Check out the website at: <li><a href=www.imadultcaring.com>IMadultcaring.com</a></li></p>
	</div>

	<div id="imadultcaring_website">
		<%= image_tag "imadultcaring.png" %>
	</div>
