<!DOCTYPE html>
<html>
  <head>
    <title>Iman Lintag</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googlepis.com/css?family=Raleway:400,700' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo.png' %>

  </head>
  <body>
  	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %> 
				<%= image_tag "logo.png" %>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Blog", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%=link_to "Projects", projects_path%></li>

		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href=https://twitter.com/imanlintag>Twitter</a></li>
			<li><a href=https://www.instagram.com/imanlintag/>Instagram</a></li>
			<li><a href=https://github.com/imanlintag>Github</a></li>
			<li><a href=https://linkedin.com/in/imanlintag>LinkedIn</a></li>
			<li><a href=https://www.youtube.com/user/IMLize>Youtube</a></li>
			<li><a href=mailto:imanlintag@umail.ucsb.edu>Email</a></li>
		</ul>

		<ul>
			<li class="category">Longevity+Clothing</li>
			<li><a href=https://twitter.com/longevity_co>Twitter</a></li>
			<li><a href=https://www.instagram.com/longevity_clothing/>Instagram</a></li>
			<li><a href=mailto:longevityclothingcompany@gmail.com>Email</a></li>
		</ul>

	</div>

	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>All Posts</p>
			<% elsif current_page?(about_path) %>
				<p>About</p>
			<% else %>
				<%= link_to "Back to All Posts", root_path %>
			<% end %>

		</div>

  		<% flash.each do |key, value| %>
  			<p> <%= value %> </p>
  		<% end %>
    	<%= yield %>
	</div>
</body>
</html>